.whish-list {
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 2%;
}
.whishlist-main {
  margin-bottom: 30%;
}
.btn {
  width: 100px;
  height: 40px;
  background-color: #0d6efd;
  color: white;
  border-radius: 5px;
}
.box {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 15%;
}
.card {
  width: 20%;
  margin-right: 10%;
  height: 150px;
  border: 1px solid black;
}
